Application {
  fontFamily: Tahoma;
  fontSize: 14px;
  color: #666666;
  backgroundColor: #ffffff;
  backgroundGradientAlphas:0,0;
  cornerRadius: 10px;
}

TextInput {
  borderStyle: solid;
  borderColor: #7d99ac;
}

ApplicationControlBar {
  backgroundColor: #CDEB8B;
}

Panel {
  backgroundColor: #CDEB8B;
}

.coloredButton{
   skin: ClassReference("skins.ButtonSkin");
   fontSize:16;
   fontWeight:bold;
   fontFamily: Tahoma;
   paddingLeft:13;
   paddingRight:23;
   paddingTop:10;
   paddingBottom:10;
   color:#ffffff;
   textRollOverColor:#ffffff;
   cornerRadius:5;
   borderThickness:1;
   borderColor:#cccccc;
   borderStyle:solid;
   backgroundColor: #CDEB8B;
}


